@media screen and (max-width: 768px) and (min-width: 300px) {
  .container {
    min-height: 100vh;
    max-height: 100vh;
  }
  .container nav {
    height: 8vh;
  }
  .container nav .box1,
  .container nav .box2 {
    display: none;
  }
  .container nav .hamburger-icon {
    display: block;
  }
  .container section.first {
    background-position: center;
    background-size: auto 100vh;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .container section.first .box {
    width: 40vw;
    height: 40vh;
    margin-left: 2.5vh;
    display: flex;
  }
  .container section.second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container section.second .box-text,
  .container section.second .box-quote {
    width: 90vw;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .container section.third {
    padding-top: 2vh;
    flex-direction: column;
    justify-content: center;
  }
  .container section.fourth {
    padding-top: 2vh;
    flex-direction: column;
    justify-content: center;
  }
  .container section.fourth .planes {
    margin-top: 0;
  }
  .container section.fourth .plan {
    width: 80vw;
  }
  .container section.fourth .plan-content {
    width: 70vw;
  }
  .container section.fourth .donacion-text {
    width: 80vw;
    margin-right: 0;
    text-align: center;
    margin-top: 0;
  }
  .container section.fourth .donacion-text .arrow {
    display: none;
  }
  .container section.fifth {
    margin: 0;
    padding: 0;
    padding-top: 8vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    position: relative;
  }
  .container section.fifth h2 {
    font-size: 1.2em;
    margin: 2vh 0;
    align-self: center;
  }
  .container section.fifth .slider {
    margin: 0;
    padding: 0;
    width: 90vw;
  }
  .container section.fifth .slider img {
    width: auto;
    height: 100%;
    position: relative;
    left: -70%;
  }
}
@media screen (min-width: 800px) and (max-width: 1024px) {
  .container section.fourth {
    flex-direction: column;
    justify-content: center;
  }
  .container section.fourth .planes {
    margin-top: 0;
  }
  .container section.fourth .plan {
    width: 260px;
  }
  .container section.fourth .plan-content {
    width: 250px;
  }
  .container section.fourth .donacion-text {
    margin-right: 0;
    text-align: center;
  }
  .container section.fourth .donacion-text .arrow {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1366px) {
  .container section.second .box-quote {
    font-size: 3em;
  }
  .container section.second .box-text {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .container section.fourth .plan {
    width: 200px;
  }
  .container section.fourth .plan-content {
    width: 200px;
  }
}
@media (min-width: 1800px) {
  .container nav .flex-logo .logo img {
    border: 4px solid #fff3e0;
  }
  .container nav .box2 li {
    font-size: 1.2em;
  }
  .container nav .box1 li {
    font-size: 1.2em;
  }
  .container section.second .box-quote {
    font-size: 4em;
  }
  .container section.second .box-text {
    font-size: 1.2em;
    line-height: 1.7em;
  }
  .container section.fourth {
    font-size: 1.3em;
  }
  .container section.fourth .plan {
    height: 60vh;
    width: 350px;
  }
  .container section.fourth .plan-content {
    width: 310px;
    height: 50vh;
  }
  .container section.fourth .plan-content img {
    width: 200px;
  }
}
