body {
  padding: 0;
  margin: 0;
  font-family: 'Open sans', sans-serif;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes boxQuote {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}
@keyframes boxText {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
@keyframes fromBottom {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0;
  }
}
@keyframes bounce {
  from {
    bottom: 50px;
  }
  to {
    bottom: 10px;
  }
}
.fadein {
  animation-name: opacity;
  animation-duration: 3s;
}
.hidden {
  display: none;
}
.container {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 2.5vh);
  max-height: calc(100vh - 2.5vh);
  max-width: 100vw;
}
.container nav {
  background-color: #404040;
  position: fixed;
  top: 0;
  z-index: 2;
  max-width: 100vw;
  height: 10vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container nav a {
  color: #dddddd;
  text-decoration: none;
}
.container nav a:visited {
  color: #dddddd;
}
.container nav .flex-logo {
  width: 100px;
  margin: 30px;
  display: flex;
  align-items: flex-end;
}
.container nav .flex-logo .logo {
  max-width: 90px;
  height: 90px;
  margin-top: 2.5vh;
}
.container nav .flex-logo .logo img {
  max-width: 90px;
  height: 90px;
  margin-top: 2.5vh;
  border-radius: 50%;
  border: 2px solid #fff3e0;
  background-color: white;
}
.container nav .box1 {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-direction: row;
  font-weight: 200;
  margin-bottom: 5px;
}
.container nav .box1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container nav .box1 li {
  display: inline;
  color: #dddddd;
  margin: 0 10px;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.container nav .box2 {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-direction: row-reverse;
  font-weight: 200;
  margin-bottom: 5px;
}
.container nav .box2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container nav .box2 li {
  display: inline;
  color: #dddddd;
  margin: 0 10px;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.container .hamburger-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}
.container .hamburger-icon img {
  width: 35px;
  height: auto;
}
.container .hamburger-content {
  min-width: 100vw;
  min-height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #404040;
}
.container .hamburger-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.container .hamburger-content .close img {
  width: 35px;
  height: auto;
}
.container .hamburger-content ul {
  margin: 0;
  padding: 0;
}
.container .hamburger-content li {
  font-size: 1.2em;
  line-height: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container .hamburger-content .social {
  color: #fff;
}
.container .hamburger-content .social hr {
  width: 100%;
  border: 4px solid #fff;
}
.container .hamburger-content .social img {
  margin: 2vh 1vh;
  width: auto;
  height: 40px;
}
.container .float-social {
  height: 300px;
  position: fixed;
  top: 10vh;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.container .float-social .social-container {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  margin-top: 10px;
  padding: 5px;
}
.container .float-social .social-container img {
  margin-top: 5px;
  height: 80%;
}
.container section.first {
  min-height: calc(100vh - 10vh);
  max-width: 100vw;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  display: flex;
  background-image: url('../img/gatites.jpg');
  background-position: center;
  background-size: 100%;
  justify-content: flex-start;
  align-items: center;
}
.container section.first .box {
  width: 60vw;
  height: 60vh;
  margin-left: 4vh;
  display: flex;
}
.container section.first .opacity-box {
  background: rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  padding: 2.5vh;
  position: relative;
  left: 0;
  animation-name: boxQuote, opacity;
  animation-duration: 2s;
}
.container section.first .scroll-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  animation: bounce 0.8s ease-out infinite;
}
.container section.second {
  min-height: calc(100vh - 10vh);
  max-width: 100vw;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #dddddd;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.container section.second .box-quote {
  width: 37vw;
  margin-right: 20px;
  font-size: 3em;
  line-height: 1.5em;
  font-style: italic;
  position: relative;
  animation-name: boxQuote;
  animation-duration: 5s;
}
.container section.second .box-text {
  width: 37vw;
  font-size: 1em;
  line-height: 1.5em;
  position: relative;
  animation-name: boxText, opacity;
  animation-duration: 5s;
}
.container section.second .box-text a,
.container section.second .box-text a:visited,
.container section.second .box-text a:hover {
  color: #ffc460;
}
.container section.third {
  min-height: calc(100vh - 10vh);
  max-width: 100vw;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  display: flex;
  background-color: #ffc460;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
  text-align: center;
}
.container section.third .col {
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.container section.third .col .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: width height 2s;
}
.container section.third .col .circle img {
  width: 80px;
  height: auto;
  z-index: 1;
}
.container section.third .col .circle .back {
  position: absolute;
  z-index: 0;
}
.container section.third .col .circle .back img {
  width: 150px;
  height: auto;
  opacity: 0.8;
}
.container section.third .col .circle .back:hover {
  animation: spin 10s linear infinite;
}
.container section.third .col div:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
.container section.third .col div:hover img {
  width: 100px;
}
.container section.third .col h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 2.5vh;
}
.container section.third .col hr {
  width: 100px;
  border: 3px solid #f99d00;
}
.container section.fourth {
  min-height: calc(100vh - 10vh);
  max-width: 100vw;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  display: flex;
  background-color: white;
  background-image: url('../img/gatites.jpg');
  padding: 0 2.5vh;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
}
.container .donacion-text {
  margin-top: 10vh;
  width: 50%;
  background-color: #ffc460;
  text-align: left;
  margin-right: 2.5vh;
}
.container .donacion-text img {
  width: 180px;
  height: auto;
  margin-right: 2.5vh;
  display: block;
  float: right;
}
.container .planes {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .plan {
  height: 400px;
  width: 230px;
  padding: 20px;
  background-color: #ffc460;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  animation: fromBottom, opacity;
  animation-duration: 2s;
}
.container .plan-content {
  width: 210px;
  height: 300px;
  text-align: center;
}
.container .plan-content img {
  width: 80px;
  height: auto;
  display: inline-block;
}
.container .border {
  border: solid 4px white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .donar {
  background-color: #ffa814;
  width: 100px;
  min-height: 55px;
  border: solid 4px white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: bold;
  font-size: 18px;
  text-decoration: none;
}
.container .donacion-text {
  color: white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  align-self: center;
  padding: 2.5vh;
  position: relative;
  left: 0;
  animation-name: boxQuote, opacity;
  animation-duration: 2s;
}
.container h1 {
  font-size: 2.5em;
  color: white;
}
.container section.fifth {
  min-height: calc(100vh - 10vh);
  max-width: 100vw;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.container section.fifth h2 {
  color: #fff;
  margin: 0;
}
.container section.fifth .slider {
  height: 80vh;
  width: 70vw;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.container section.fifth .slider img {
  width: auto;
  height: 100%;
}
.container footer {
  color: #fff;
  max-width: 100vw;
  height: 4vh;
  background-color: #404040;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5vh;
}
.container footer a,
.container footer a:visited {
  color: #c60596;
}
.container footer img {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
