@maxView: 100vh;
@footerSize: 4vh;
@navSize: 8vh;
@separation: 2.5vh;

// mobile responsive
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .generic(@secWidth: 100vw) {
      padding-top: 0;
      min-height: @maxView;
    }
    .container {
      min-height: @maxView;
      max-height: @maxView;
      nav {
        height: @navSize;
        padding-bottom: 10px;
        .box1, .box2 {
          display: none;
        }

        .hamburger-icon {
          display: block;
        }
      } // end nav

      .scroll-icon, .float-social {
        display: none;
      }

    section.first {
      background-position:center;
      background-size:auto 100vh;
      justify-content: flex-start;
      align-items: flex-end;

      .box {
        width: 40vw;
        height: 40vh;
        margin-left: @separation;
        display: flex;
      }
    } // end first
    section.second {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .box-text, .box-quote {
        width: 90vw;
        font-size: 1em;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    } // end second
    section.third {
      padding-top:2vh;
      flex-direction: column;
      justify-content: center;
    } // end third
    section.fourth {
      padding-top:2vh;
      flex-direction: column;
      justify-content: center;
        .planes {margin-top: 0}
        .plan { width: 80vw;}
        .plan-content {width: 70vw; justify-content: center;
          img {
            width: 80%;
          }
        }
        .donacion-text {
          width: 80vw;
          margin-right: 0;
          text-align: center;
          margin-top: 0;
          .arrow {display: none}
        }
    } // end fourth
    section.fifth {
      margin: 0;
      padding: 0;
      padding-top: @navSize;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left:0;
      position: relative;

      h2 {
        font-size: 1.2em;
        margin: 2vh 0;
        align-self: center;
      }
      .slider {
        margin: 0;
        padding: 0;
        width: 90vw;
        img {
          width: auto;
          height: 100%;
          position: relative;
          left: -70%;
        }
      }
    }
  } // end container
} // end mobile responsive

// smallish desktop
  @media screen (min-width: 800px) and (max-width: 1024px) {
    .generic(@secWidth: 100vw) {
      padding-top: 0;
    }
    .container {
    section.fourth {
      flex-direction: column;
      justify-content: center;
        .planes {margin-top: 0}
        .plan { width: 260px;}
        .plan-content { width: 250px;}
        .donacion-text { margin-right: 0; text-align: center;
          .arrow {display: none}
        }
    }
  }
}

// mid screens
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    .container {
      section.second {
        .box-quote { font-size: 3em; }
        .box-text {
          font-size: 1.2em;
          line-height: 1.2em;
        }
      }
    section.fourth {
        .plan { width: 200px; }
        .plan-content { width: 200px; }
    }
  }
}

  //big screens
  @media (min-width: 1800px) {
  .container {
      nav {
        .flex-logo .logo img {
          border: 4px solid #fff3e0;
          }
        .box2 li {
        font-size: 1.2em;
          }
        .box1 li {
        font-size: 1.2em;
        }
      }

    section.second {
      .box-quote { font-size: 4em; }
      .box-text {
        font-size: 1.2em;
        line-height: 1.7em;
      }
    }
    section.fourth {
        font-size: 1.3em;
        .plan { height: 60vh;  width: 350px; }
        .plan-content { width: 310px;  height: 50vh;
          img { width: 200px; }}
      }

  } // end container
} // end media-query
