.strike {
		text-decoration: line-through;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container input {
width: 200px;
}

li:after {
	padding-left: 9px;
	font-family: FontAwesome;
	content: "\f101";
}

.hide {
	display: none;
}